.btn{
    color: white;
    margin: 2em;
}

.container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

.login{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ctn{
    max-width: 500px;
    margin: 1em auto;
}

.entrada {
    margin: 1em;
    width: 80%;
}

.btn1{
    color: #023047;
}